/*próbáljuk ki majd a végén, hogy mi történik a box-sizing kikommentelésével*/
* {
    box-sizing: border-box;
}

body {
    font-weight: bold;
    text-align: center;
    background-color: black;
}

#article,
#aside,
#footer,
#header,
#nav {
    padding: 20px;
}

#header {
    background-color: tomato;
    margin: 0px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color:azure;
    background-color:black;
}

#nav {
    display: block;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 7px;
    color: slategray;
    font-weight: bold;
    font-family: 'Petit Formal Script';
    padding: 10px;
    border: 2px solid rgb(176, 196, 222);
    font-size: 1.3em;
    text-decoration: none;
}

#article {
    text-align: left;
    background-color: rgb(70,67,63);
    color: whitesmoke;
    border: 1px solid white;
}

#aside {
    background-color: lightsteelblue;
    color: black;
}

#footer {
    background-color: lightpink;
}

/* menü */
#nav {
    display: flex;
}

    #nav a {
        /* ugyanaz, mint flex-grow:1; flex-shrink:1;flex-basis:auto;*/
        flex: 1 1 auto;
        text-decoration: none;
        color: black;
    }

/* 800px-nél nagyobb képernyő*/
@media screen and (min-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
        max-width: 1500px;
        margin: auto;
    }

    #main {
        display: flex;
        flex-wrap: wrap;
    }

    #nav,
    #header {
        order: -1;
    }

    #article {
        flex: 1 1 85%;
    }

    #aside {
        flex: 1 1 15%;
    }
}
