* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

div {
    /*border: 1px solid blue;*/
    background-color: lightblue;
    text-align: center;
    border-radius: 4px;
}

#külső {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#kérdés_szöveg {
    border: 1px solid blue;
}

#középső {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
}

#válaszok {
    flex-grow: 0;
    flex-shrink: 1;
    border-radius: 20px;
    flex: 40%;
}

#vezérlő {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
img {
    max-width: 100%;
    height: auto;
}
#kép {
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
    flex: 60%;
}

.gomb {
    padding: 20px;
    width: 80px;
    border: 1px solid blue;
}

.kerdes {
}

.kattintható:hover {
    background-color: fuchsia;
    color: white;
    border: 1px solid blue;
}

.valaszKattinthatoJó:hover {
    color: green;
    background-color: green;
    border-radius: 20px;
    border: 1px solid blue;
}

.valaszKattinthatoJó {
    border-radius: 20px;
    border: 1px solid blue;
}

.valaszKattinthatoRossz:hover {
    color: red;
    background-color: red;
    border-radius: 20px;
}
.valaszKattinthatoRossz {
    border-radius: 20px;
    border: 1px solid blue;
}

/* 800px-nél nagyobb képernyő*/
@media screen and (min-width: 800px) {
        body {
            display: flex;
            flex-direction: column;
            max-width: 1500px;
            margin: auto;
        }

        #main {
            display: flex;
            flex-wrap: wrap;
        }

        #nav,
        #header {
            order: -1;
        }

        #article {
            flex: 1 1 85%;
        }

        #aside {
            flex: 1 1 15%;
        }
    }