body{
    background-color:aqua;
}

* {
    box-sizing: border-box;
}

#pascal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    text-align: center;
}

.sor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    text-align: center;
}

.elem {
    width: 30px;
    height: 30px;
    flex-basis: 30%;
    flex-shrink: 0;
    padding: 10px 0;
}