* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

div {
    /*border: 1px solid blue;*/
    background-color: lightblue;
    text-align: center;
    border-radius: 4px;
}

#külső {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#kérdés_szöveg {
    border: 1px solid blue;
}

#középső {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

#válaszok {
    flex-grow: 0;
    flex-shrink: 1;
    border-radius: 20px;
    flex: 40%;
}

#vezérlő {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    max-width: 100%;
    height: auto;
}

#kép {
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
    flex: 60%;
}

.vissza_gomb {
    padding: 20px;
    width: 80px;
    border: 1px solid blue;
}

.előre_gomb {

}
padding: 20px;
width: 80px;
border: 1px solid blue;


.kerdes kattintható {
    border-radius: 20px;
    border: 1px solid blue;
}

.valaszHelyes {
    background-color: green;
    border: 1px solid blue;
    border-radius: 20px;
}

.kerdes kattintható:hover {
    background-color: red;
    color: white;
    border: 1px solid blue;
}

.kerdes kattintható jó:hover {
    color: green;
    background-color: green;
    border-radius: 20px;
    border: 1px solid blue;
}

.kerdes kattintható jó {
    border-radius: 20px;
    border: 1px solid blue;
}

.kerdes kattintható rossz:hover {
    color: red;
    background-color: red;
    border-radius: 20px;
}

.kerdes kattintható rossz {
    border-radius: 20px;
    border: 1px solid blue;
}

/* 800px-nél kisebb képernyő*/
@media screen and (max-width: 800px) {

    #középső {
        flex-direction: row;
        flex-grow: 0;
        flex-wrap: nowrap;
        display: inline;
    }

    #külső {
        height: 100%;
        flex-direction: column;
        display: inline;
    }
}